@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  color: #f2f2f2;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

a {
  all: unset;
  color: #f2f2f2;
  cursor: pointer;
}

ul, li {
  all: unset;
}

@media (min-width: 0px) and (max-width: 900px) {
  nav {
    background-color: #320E68;
    height: 10rem;
    padding: 1rem;
  }
  nav img {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  p {
    font-size: 2.5rem;
  }
  nav {
    position: fixed;
    width: 100%;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #320E68;
    height: 8.5rem;
    padding: 1rem;
  }
  nav .logo-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .logo-nav img {
    margin-right: 2rem;
  }
  nav .logo-nav p {
    font-size: 2rem;
  }
  nav img {
    width: 75px;
    height: 75px;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    font-size: 2rem;
    margin-right: 7rem;
  }
  nav a {
    font-size: 2rem;
    margin-right: 1rem;
  }
  .landing {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .landing img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 85px;
  }
  .landing .title {
    padding: 2.5rem;
    position: relative;
    top: 20%;
    left: 10%;
    border: 6px solid #320E68;
    color: #320E68;
    border-radius: 96px 24px 96px 24px;
    width: 53.5rem;
  }
}

.page2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page2 .background-img {
  height: 100%;
  width: 120%;
  position: absolute;
  z-index: -1;
}

.page2 h2 {
  color: #320E68;
}

.page2 .about-boxes {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-left: 5%;
  margin-top: 5rem;
  padding: 1rem;
}

.page2 .about-boxes .about-box {
  width: 50rem;
  height: 20rem;
  background-color: #320E68;
  border: 4px solid #FCF93A;
  border-radius: 48px 24px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page2 .about-boxes .about-box h3 {
  text-align: center;
}

.page2 .title-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page2 .title-img img {
  height: 40rem;
  margin-bottom: 1rem;
  width: 100%;
}

.page2 .title-img p {
  background-color: white;
  border-radius: 48px 24px;
  padding: 1rem;
  color: #000;
  border: 4px solid #320E68;
}
/*# sourceMappingURL=main.css.map */